* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Alice", serif;
}

body {
     background-image: url('img/bg-image.jpg') ;
     background-position: center;
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
     
}

main {
    width: 800px;
    box-sizing: border-box;
    padding: 24px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 16px;
    background-color: #F5DEB3;
}

.cupcake p{
    padding: 7px;
    color: saddlebrown;
}

.ingredientes ul{
    padding-left: 30px;
}
.ingredientes li{
    color: saddlebrown;
}
.ingredientes h3 {
    padding: 5px;
    color: saddlebrown;
    font-size: 1.3rem;
}

.preparo li{
     padding: 7px;
     color: saddlebrown;
    
}
.preparo ol {
   padding-left: 30px;
}

h2 {
    padding: 7px;
    color: saddlebrown;
    font-size: 1.8rem;
}

footer {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    color: saddlebrown;
}