*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

 :root {

    --bg-color: #09090B;
    --surface-color: #18181B;
    --stroke-color: #27272A; 
    --text-color-secondary: #A1A1AA;
    --text-color-primary: #F4F4F5;
    --brand-color-primary:   #F7B733;
    --brand-color-secondary: #FC4A1A;
    --brand-gradient: linear-gradient(to right, #FC4A1A, #F7B733);

    --font-family-base: 'Inter', sans-serif;

     /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-extrabold: 800;

     /* Line Heights */
    --line-height-100: 100%;
    --line-height-120: 120%;
    --line-height-160: 160%;

     /* Font Sizes – Desktop */
    --font-h1-desktop: 64px;
    --font-h2-desktop: 48px;
    --font-h3-desktop: 32px;
    --font-paragraph-desktop: 16px;
    --font-span-desktop: 14px;

     /* Font Sizes – Mobile */
    --font-h1-mobile: 40px;
    --font-h2-mobile: 24px;
    --font-h3-mobile: 20px;
    --font-paragraph-mobile: 16px;
    --font-span-mobile: 14px;


    --py-base: 1rem;
    --py-lg: 1.5rem; 
    --py-xl: 3rem;

    --px-lg: 1.5rem;
   }

   html {
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-h2-mobile);
    color: var(--text-color-primary);
   }

   body {
    background-color: var(--bg-color);
   }

   h1, h2, h3 {
    line-height: 1.2;
    color: var(--text-color-primary);
    font-weight: var(--font-weight-extrabold);
    letter-spacing: -0.04em;
   }

   h1 {
    font-size: var(--font-h1-mobile);
   }

   h2 {
    font-size: var(--font-h2-mobile);
   }

   h3 {
    font-size: var(--font-h3-mobile);
   }

   a {
    text-decoration: none;
    color: inherit; /*erda a cor do pai*/
    
   }

   a:hover {
    background: linear-gradient(
        90deg,
        var(--brand-color-secondary) 0%,
        var(--brand-color-primary) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
   }

   ul[role="list"] {
    list-style: none;
   }

   @media (width >= 80em) {
    :root {
        --font-h1-desktop: 64px;
        --font-h2-desktop: 48px;
        --font-h3-desktop: 32px;

        --py-base: 1.5rem;
        --py-lg: 2.5rem; 
        --py-xl: 5rem;

        --px-lg: 2rem;

    }
   }


 


  



